@import url(http://fonts.googleapis.com/css?family=Ubuntu:300|Monda|Montserrat:400,700|Roboto+Slab:300,400,700|Noto+Sans:400italic);
body.front {
  color: #fff;
  overflow: hidden;
  font-family: Monda, sans-serif;
}

body.front *::-moz-selection {
  background: #000;
}

body.front *::selection {
  background: #000;
}

body.front .wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

body.front .stuff {
  float: right;
}

body.front .stuff nav a {
  color: rgba(255, 255, 255, 0.5);
  margin: 1em;
  font-family: Ubuntu, sans-serif;
}

body.front .stuff nav a:hover {
  text-decoration: none;
  color: #fff;
}

body.front .labels {
  text-align: center;
  position: relative;
  margin-top: 1em;
}

body.front .labels h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 4.5em;
  margin: 0;
  padding: 0;
  color: #fff;
}

body.front .labels p {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

body.front h6 {
  margin: .25em 0;
  font-size: 1em;
  text-transform: uppercase;
}

body.front .info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2.5em 0;
  color: #fff;
}

body.front .info .item {
  margin: 0 5em;
  width: 100%;
  font-size: .8em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.front .info .item .count {
  font-size: 8em;
  min-width: 250px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
}

body.front .info .item .label {
  margin-top: -1em;
  text-align: center;
  font-size: 1.5em;
}

body.front .links {
  margin-top: 5em;
  margin-bottom: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.front .links a {
  display: inline-block;
  margin: 0 1.5em;
}

body.front .links a:first-child img {
  width: 100px;
}

body.front .links a img {
  width: 125px;
}

.faq {
  background: #babfd1;
}

.faq .questions {
  max-width: 850px;
  margin: 0 auto;
  box-sizing: border-box;
}

.faq .questions a {
  color: #1c964a;
}

.faq .questions a:visited {
  color: #078938;
}

.faq .questions a:hover {
  text-decoration: none;
}

.faq .questions h4 {
  font-size: 20px;
  margin: 20px 0;
  font-family: 'Roboto Slab', sans-serif;
}

.faq .questions .question {
  background: #fff;
  margin-bottom: 15px;
  border-radius: 3px;
}

.faq .questions .question h2 {
  padding: 15px 30px;
  margin: 0;
  font-size: 28px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq .questions .question .answer {
  display: none;
  padding: 15px 30px;
  border-top: 1px dashed black;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #efefef;
}

.faq .questions .question .answer p {
  font-size: 18px;
  margin: 5px 0;
  font-family: 'Noto Sans', sans-serif;
}

.faq .like {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

@media screen and (max-width: 1060px) {
  body.front .info .item {
    margin: 0 1.5em;
  }
  body.front .info .item .count {
    font-size: 5.5em;
  }
}

@media screen and (max-width: 960px) {
  .faq .questions {
    margin: 30px;
  }
  body.front .info {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body.front .info .item {
    margin: 1.5em 2.5em;
    max-width: 150px;
  }
  body.front .info .item .count {
    font-size: 4.5em;
  }
  body.front .info .item .label {
    white-space: normal;
    font-size: 1.25em;
    margin-top: .75em;
  }
}

@media screen and (max-width: 540px) {
  body.front .info {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  body.front .info .item {
    margin: .5em 0;
    max-width: 150px;
  }
  body.front .info .item .count {
    font-size: 3em;
  }
  body.front .info .item .label {
    white-space: normal;
    line-height: 1.25;
  }
  body.front .links {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em;
  }
  body.front .links a {
    margin: .5em;
  }
  body.front .links a img {
    width: 80px;
  }
  .faq .questions {
    margin: 20px;
  }
  .faq .questions .question {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  .faq .questions .question h2 {
    padding: 20px 30px;
    font-size: 28px;
  }
  .faq .questions .question .answer {
    padding: 10px 30px;
  }
  .faq .questions .question .answer p {
    font-size: 18px;
  }
  body.front .labels h1 {
    font-size: 3em;
  }
  body.front .labels p {
    font-size: .75em;
  }
}
