html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 8em 5em;

  background: radial-gradient(white, ghostwhite) 50% 50% no-repeat;
  background-size: cover;

  transition: padding .2s;
}

p {
  margin: 0;

  font-family: "Muli", serif;
  font-size: 2.5rem;
  line-height: 1.4;
  color: black;

  transition: font-size .2s, line-height .2s;
}

p > strong {
  font-weight: bold;
}

a {
  display: inline-block;

  color: royalblue;
  text-decoration: none;

  transition: color .4s;
}

a:after {
  display: block;

  width: 100%;
  height: .2rem;

  content: "";
  background-color: royalblue;

  transition: height .4s, background-color .4s;
}

a:hover {
  color: mediumslateblue;

  animation: woah-link .2s;
}

a:hover:after {
  height: .4rem;

  background: aquamarine;
}

@media screen and (max-width: 768px) {
  body { padding: 2rem; }

  p {
    font-size: 2rem;
    line-height: 1.3;
  }

  p + p { margin-top: 1rem; }

  a:hover {
    animation: unset;
  }
}

@media screen and (max-width: 480px) {
  body { padding: 1rem; }

  p {
    font-size: 1.8rem;
  }
}

@keyframes woah-link {
  0% {
    letter-spacing: initial;
  }

  50% {
    letter-spacing: 10px;
  }

  100% {
    letter-spacing: initial;
  }
}
