@import url(http://fonts.googleapis.com/css?family=Enriqueta|Dosis|Roboto+Slab:700|Noto+Sans:400italic);
body.front {
  background: url(http://cs622728.vk.me/v622728067/4be29/GbE-FGPM-d0.jpg) 50% 50% fixed;
  background-size: cover;
  color: #fff;
}

body.front .wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body.front .labels {
  text-align: center;
}

body.front .labels h1 {
  font-family: Enriqueta, sans-serif;
  font-size: 3em;
  margin: 0;
}

body.front .labels p {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 1.5em;
  font-family: Dosis, sans-serif;
  font-size: .9em;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.faq {
  background: #babfd1;
}

.faq .questions {
  margin: 30px 150px;
  box-sizing: border-box;
}

.faq .questions a {
  color: #1c964a;
}

.faq .questions a:visited {
  color: #078938;
}

.faq .questions a:hover {
  text-decoration: none;
}

.faq .questions h4 {
  font-size: 22px;
  font-family: 'Roboto Slab', sans-serif;
}

.faq .questions .question {
  background: #fff;
  margin-bottom: 15px;
  border-radius: 3px;
}

.faq .questions .question h2 {
  padding: 20px 40px;
  margin: 0;
  font-size: 32px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq .questions .question .answer {
  display: none;
  padding: 20px 40px;
  border-top: 2px dashed black;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #eee;
}

.faq .questions .question .answer p {
  font-size: 20px;
  margin: 15px 0;
  font-family: 'Noto Sans', sans-serif;
}

.faq .like {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

@media screen and (max-width: 900px) {
  .faq .questions {
    margin: 30px 50px;
  }
}

@media screen and (max-width: 500px) {
  .faq .questions {
    margin: 20px;
  }
  .faq .questions .question {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  .faq .questions .question h2 {
    padding: 20px 30px;
    font-size: 28px;
  }
  .faq .questions .question .answer {
    padding: 10px 30px;
  }
  .faq .questions .question .answer p {
    font-size: 18px;
  }
}
