@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Yantramanav:100);

body {
  height: 100%;
  color: #fff;
  overflow: hidden;
}

.labels {
  display: block;
  position: fixed;
  bottom: 10%;
  width: 100%;
  margin: auto 0 0 0;
  text-align: center;
}

p {
  margin: 0;
  color: #fff;
}

.name {
  font-family: Kaushan Script, Georgia, serif;
  font-size: 4em;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.profession {
  font-family: Yantramanav, Verdana, sans-serif;
  bottom: 10%;
  font-size: 2em;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #5f8a9c no-repeat;
  background-size: cover;
}

