@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Yantramanav:100);

body {
  background: linear-gradient(to bottom, #ffffff 55%,#f4e8de 100%);
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
  overflow: hidden;
}

.labels {
  display: block;
  position: fixed;
  bottom: 10%;
  width: 100%;
  margin: auto 0 0 0;
  text-align: center;
}

p {
  margin: 0;
  color: #4F4B47;
}

.name {
  font-family: Kaushan Script, Georgia, serif;
  font-size: 4em;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.profession {
  font-family: Yantramanav, Verdana, sans-serif;
  bottom: 10%;
  font-size: 2em;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}