@import url(http://fonts.googleapis.com/css?family=Enriqueta|Dosis|Roboto+Slab:700|Noto+Sans:400italic)

body.front
  background: url(./bg.jpg) 50% 50% fixed
  background-size: cover
  color: #fff
  font-family: Dosis, sans-serif

  .wrapper
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .labels
    text-align: center
    position: relative
    h1
      font-family: Enriqueta, sans-serif
      font-size: 4em
      margin: .2em
      padding: 0
    p
      display: inline-block
      position: absolute
      white-space: nowrap
      top: 5.75em
      right: 1em
      font-size: .8em
      text-transform: uppercase
      letter-spacing: 3px
      color: black
  .links
    margin-top: .5em
    display: flex
    align-items: center
    justify-content: center
    a
      display: inline-block
      color: white
      background-color: black
      font-family: Dosis, sans-serif
      text-transform: lowercase
      margin: 0 .5em
      padding: 0 .5em
      width: 5em
      text-decoration: none
  h6
    margin: .25em 0
    font-size: 1em
    text-transform: uppercase
  .short
    margin: 1em
    background: rgba(230,230,230,.8)
    color: #232323
    padding: 1em
    .info
      display: flex
      flex-flow: column nowrap
      .item 
        margin: 0
        font-size: .8em
        display: flex
        align-items: center
        justify-content: center
        .count
          font-size: 2.4em
          font-family: 'Roboto Slab', serif
          margin-right: .5em
          width: 50%
          text-align: right
        .label
          width: 50%
          text-align: left
          font-size: 1.25em
  .stack
    margin: 1em
    background: rgba(20,20,20,.8)
    padding: 1em
    .technologies
      display: flex
      flex-flow: column wrap
      align-items: flex-start
      span
        display: block
        margin: .25em .5em


.faq
  background: #babfd1
  .questions
    margin: 30px 150px
    box-sizing: border-box
    a
      color: #1c964a
      &:visited
        color: #078938
      &:hover
        text-decoration: none
    h4
      font-size: 22px
      font-family: 'Roboto Slab', sans-serif
    .question
      background: #fff
      margin-bottom: 15px
      border-radius: 3px
      h2
        padding: 20px 40px
        margin: 0
        font-size: 32px
        font-family: 'Roboto Slab', sans-serif
        font-weight: 700
        cursor: pointer
        user-select: none
      .answer
        display: none
        padding: 20px 40px
        border-top: 2px dashed black
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
        background: #eee
        p
          font-size: 20px
          margin: 15px 0
          font-family: 'Noto Sans', sans-serif
  .like
    display: flex
    justify-content: center
    margin: 50px auto

@media screen and (max-width: 900px) 
  .faq
    .questions
      margin: 30px 50px
@media screen and (max-width: 500px) 
  .faq
    .questions
      margin: 20px
      .question
        background: #fff
        margin-bottom: 15px
        border-radius: 3px
        h2
          padding: 20px 30px
          font-size: 28px
        .answer
          padding: 10px 30px
          p
            font-size: 18px 

.boom 
  .time
    display: flex
    align-items: center
    justify-content: center
    flex-flow: column 
    background: tomato
    width: 100%
    height: 100vh
    span
      font-size: 72px
      font-family: 'Roboto Slab', serif
      &.small
        font-size: 48px