@import url(http://fonts.googleapis.com/css?family=Enriqueta|Dosis|Roboto+Slab:700|Noto+Sans:400italic)

body.front
  background: url(http://cs622728.vk.me/v622728067/4be29/GbE-FGPM-d0.jpg) 50% 50% fixed
  background-size: cover
  color: #fff

  .wrapper
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  .labels
    text-align: center
    h1
      font-family: Enriqueta, sans-serif
      font-size: 3em
      margin: 0
    p
      display: inline-block
      background-color: rgba(0,0,0,.4)
      padding: 0 1.5em
      font-family: Dosis, sans-serif
      font-size: .9em
      margin: 5px
      text-transform: uppercase
      letter-spacing: 3px

.faq
  background: #babfd1
  .questions
    margin: 30px 150px
    box-sizing: border-box
    a
      color: #1c964a
      &:visited
        color: #078938
      &:hover
        text-decoration: none
    h4
      font-size: 22px
      font-family: 'Roboto Slab', sans-serif
    .question
      background: #fff
      margin-bottom: 15px
      border-radius: 3px
      h2
        padding: 20px 40px
        margin: 0
        font-size: 32px
        font-family: 'Roboto Slab', sans-serif
        font-weight: 700
        cursor: pointer
        user-select: none
      .answer
        display: none
        padding: 20px 40px
        border-top: 2px dashed black
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
        background: #eee
        p
          font-size: 20px
          margin: 15px 0
          font-family: 'Noto Sans', sans-serif
  .like
    display: flex
    justify-content: center
    margin: 50px auto

@media screen and (max-width: 900px) 
  .faq
    .questions
      margin: 30px 50px
@media screen and (max-width: 500px) 
  .faq
    .questions
      margin: 20px
      .question
        background: #fff
        margin-bottom: 15px
        border-radius: 3px
        h2
          padding: 20px 30px
          font-size: 28px
        .answer
          padding: 10px 30px
          p
            font-size: 18px 