doctype html
html
  head
    title Filippov Anton - FAQ
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet", href="../main.min.css")
    link(rel="stylesheet", href="../normalize.css")
  body.faq
    .questions
      .question
        h2 Сколько ты работаешь на фрилансе?
        .answer
          p Я начал работать фрилансером еще в 2008 году, тогда я выбрал своим направлением веб-дизайн и рисование иконок, работал на небезысвестной украинской бирже.
          p В 2015 году я решил стать front end разработчиком, и начал работать с конца июня на бирже Upwork.
      .question
        h2 Lorem ipsum dolor sit amet.
        .answer
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ipsam nisi aliquam natus quisquam id dignissimos impedit itaque nam temporibus, quos, accusantium eos, qui iste nemo nesciunt illo perferendis tempore ab doloremque. Digni../ssimos possimus dolore nihil expedita corporis ad quos?
      .question
        h2 Lorem ipsum dolor sit amet.
        .answer
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, ipsam nisi aliquam natus quisquam id dignissimos impedit itaque nam temporibus, quos, accusantium eos, qui iste nemo nesciunt illo perferendis tempore ab doloremque. Digni../ssimos possimus dolore nihil expedita corporis ad quos?
    script(src="//code.jquery.com/jquery-2.2.1.min.js")
    script(src="../script.js")