doctype html
html
  head
    title Filippov Anton - FAQ
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet", href="../main.min.css")
    link(rel="stylesheet", href="../normalize.css")
    script(src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript")
    script(type="text/javascript").
      try {
          var yaCounter37299120 = new Ya.Metrika({
              id:37299120,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      } catch(e) { }
    noscript
      div
        img(src="https://mc.yandex.ru/watch/37299120" style="position:absolute; left:-9999px;" alt="")
    script(type="text/javascript" src="//vk.com/js/api/openapi.js?121")
    script(type="text/javascript").
      VK.init({apiId: 5386506, onlyWidgets: true});
  body.faq
    .questions
      .breakline
        h4 Про Upwork:
      .question#first
        h2 Как быстро ты получил первый заказ на Upwork?
        .answer
          p Я получил первый заказ с первой заявки в первый день после того, как решил работать. Это был маленький проект на 40$, который я выполнил за 2 часа. 
      .question#money
        h2 Как ты выводишь деньги, заработанные на Upwork?
        .answer
          p Я использую для вывода карту Payoneer.
          p + Плюсы вывода на такую карту состоят в том, что это карта не российского банка, соответственно можно не волноваться о налоговых и прочем при выводе наличных через банкоматы(лимиты адекватные, больше чем можно потратить).
          p + Выводить можно в любом банкомате, в нужной валюте(правда не везде в России можно вывести в долларах, 100% можно в Альфа-банке и Райффайзен банке).
          p + Картой можно оплачивать покупки в магазинах и интернет-магазинах, без комиссии. Покупал одежду и технику со своей картой, а также оплачивал сервисы типа di.fm, headspace.com, steam, battle.net
          p + Обслуживание карты стоит 29$ в год, но регистрируясь по ссылке ниже можно сэкономить 80% :)
          p - Единственный минус карты, да и вообще неофициального фриланса в целом я вижу только в том, что если захочется купить роскошную машину или квартиру - могут возникнуть сложности, поэтому если вы выходите на заработок 200000₽+, то не поленитесь и заведите ИП.
          p 
            | * 25$ на счёт при регистрации 
            a(href="https://www.payoneer.com/ru/raf/?rid=17ED3436-10A2-4DB7-A6DC-C94E6AFA14C3" target="_blank") по этой ссылке. 
      .question#startrate
        h2 Какой рейт почасовой оплаты мне поставить как новичку?
        .answer
          p Нужно ставить рейт исходя из своих потребностей и трезвой оценки навыков. Не рекомендую ставить рейт ниже 10$/час, потому что ни один адекватный заказчик не будет воспринимать вас серьезно.
          p Средний рейт разработчиков из СНГ - 21$/час.
      .question#cl
        h2 Как написать хороший Cover Letter чтобы заказчик выбрал меня из 100 кандидатов?
        .answer
          p Мой подход состоит в том, чтобы понять темперамент заказчика по описанию проекта и написать заявку исходя из этого. По стилю письма, полноте изложения деталей, грамматике можно смимикрировать под заказчика, если он пишет "Need perfect developer urgent", то можно ответить "Hi there! I'm ready to work!", если ТЗ составленно наидетальейшим образом, то и ваш ответ должен быть максимально подробным - с перечислением опыта работы и решаемых ранее проблем.
          p Главное правило - не клянчите работу, никаких "Dear sir", "Please, give me that project", это выглядит жалко и если заказчик таки выберет вас исполнителем вы об этом только пожалеете, потому что показали ему, что работа с ним для вас имеет высокую значимость, чем он сможет манипулировать.
      .question#badge
        h2 Сильно ли влияют бейджики Rising Talent и Top Rated?
        .answer
          p Как по мне, бейджик RT может представить вас перед заказчиком как новичка, которым вы можете не являться, поэтому этот бейдж хорош только бустом 30 дополнительных коннектов на старте. Нужно грамотно их реализовать и поскорее получить следующий бейдж.
          p Бейдж Top Rated очень помогает в поиске заказов, вы чаще будете попадаться в рекомендации на приглашение, а следственно, вам будут приходить инвайты в проекты, и теперь не заказчик выбирает вас из стада, а вы его :)
          p Тем не менее, если по какой-то причине ваш JSS не дотягивает до Top Rated это не повод удалять аккаунт или переставать работать, работу можно найти при ЛЮБОМ JSS, и выправить его до требуемых 90+ процентов за несколько успешных проектов.
      .question#jss
        h2 Как поднять Job Success Score?
        .answer
          p Усердно работать, не вешать нос, стараться найти долгосрочные проекты, не работать с клиентами-мудаками.
          p В один момент, мой JSS равнялся 80 единицам, но я уже в то время имел 2 лонг-терм контракта, и не закрывая никаких других, JSS вырос за 3 месяца на 18%, только из-за этого показателя. 
      .question
        h2 Почему завершённый проект не показывается в списке предыдущих работ? Почему отработанные часы не появляются в профиле?
        .answer
          p Все показатели могут отображаться с задержкой от пары часов до пары недель, наберитесь терпения. 

      .breakline
        h4 Общие вопросы 
      .question#services
        h2 Какую биржу выбрать для работы?
        .answer
          p Я рекомендую не работать на русских фриланс-биржах вообще. Лучше потратить месяц на освоение английского языка и выходить на международные площадки, этот месяц окупится очень быстро.
          p
            | Обзор самых популярных фриланс-бирж для программиста я делал в своём 
            a(href="http://blog.flppv.me/all/freelance-services/") блоге
            | .
      .question#badclient
        h2 С кем не стоит работать?
        .answer
          p Если клиент много торгуется, слишком скурпулёзен, или просто вам не нравится общаться с ним - то лучше не начинать с ним работать. Чаще всего сотрудничество будет неприятным, и, наверняка, он оставит вам нехороший приватный отзыв, что негативно скажется на вашем JSS.
          p Чаще всего не стоит работать с заказчиками из бедных стран, с низким количеством закрытых проектов и низким average rate на бирже.
      .question#path
        h2 Какое направление сейчас перспективное/выгодное?
        .answer
          p Я не рекомендую выбирать направление работы исходя из его перспективности или трендовости в данный момент. Найдите себе занятие по душе, станьте в нём настоящим специалистом и вы всегда будете при деньгах.
      .question#edu
        h2 Нужно ли высшее образование для работы фрилансером?
        .answer
          p Необязательно. Университет в первую очередь вырабатывает умение искать информацию и усидчивость.
          p Для получения опыта в любой сфере, даже если вы хотите работать в офисе, нужно развиваться самостоятельно. 
      .question#english
        h2 Насколько хорошо нужно знать английский язык для работы на зарубежных биржах?
        .answer
          p Нужно иметь навыки разговорного общения, а также чтения технической документации. Главный навык программиста - уметь формировать корректные поисковые запросы и понимать, что написано в результатах поиска и читать технические статьи/книги.
          p Для работы с клиентами из-за рубежа - нужно понимать, что от тебя требуют, и недвусмысленно выражать свои мысли.
      .question#frontend
        h2 Как стать frontend разработчиком?
        .answer
          p
            | Я написал 
            a(href="http://blog.flppv.me/all/frontend/") подробную статью
            |  на эту тему в своём блоге. Приятного чтения :)

      .breakline
        h4 Прочее
      .question
        h2 Я не нашел тут ответа на свой вопрос, как связаться с тобой?
        .answer
          p
            | Удобнее всего мне общаться через 
            a(href="https://tlgrm.me/flppv" target="_blank") telegram
            |  или 
            a(href="mailto:anton@flppv.me") на почту.
          p
            | У меня также есть 
            a(href="http://blog.flppv.me") блог
            | .

    .like
      #vk_like
      script(type="text/javascript").
        VK.Widgets.Like("vk_like", {type: "button", verb: 1, height: 24});

    script(src="//code.jquery.com/jquery-2.2.1.min.js")
    script(src="../script.js")