doctype html
html
  head
    title Filippov Anton - FAQ
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet", href="../main.min.css")
    link(rel="stylesheet", href="../normalize.css")
    link(rel="icon" type="image/png" href="../favicon.png")
    script(src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript")
    script(type="text/javascript").
      try {
          var yaCounter37299120 = new Ya.Metrika({
              id:37299120,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      } catch(e) { }
    noscript
      div
        img(src="https://mc.yandex.ru/watch/37299120" style="position:absolute; left:-9999px;" alt="")
    script(type="text/javascript" src="//vk.com/js/api/openapi.js?121")
    script(type="text/javascript").
      VK.init({apiId: 5386506, onlyWidgets: true});
  body.faq
    .questions
      .breakline
        h4 Про Upwork:
      .question#first
        h2 Как быстро ты получил первый заказ на Upwork?
        .answer
          p Я получил первый заказ с первой заявки в первый день после того, как решил работать. Это был маленький проект на 40$, который я выполнил за 2 часа. 
      .question#money
        h2 Как ты выводишь деньги, заработанные на Upwork?
        .answer
          p Я использую для вывода карту Payoneer.
          p + Плюсы вывода на такую карту состоят в том, что это карта не российского банка, соответственно можно не волноваться о налоговых и прочем при выводе наличных через банкоматы(лимиты адекватные, больше чем можно потратить).
          p + Выводить можно в любом банкомате, в нужной валюте(правда не везде в России можно вывести в долларах, 100% можно в Альфа-банке и Райффайзен банке).
          p + Картой можно оплачивать покупки в магазинах и интернет-магазинах, без комиссии. Покупал одежду и технику со своей картой, а также оплачивал сервисы типа di.fm, headspace.com, steam, battle.net
          p + Обслуживание карты стоит 29$ в год, но регистрируясь по ссылке ниже можно сэкономить 80% :)
          p - Единственный минус карты, да и вообще неофициального фриланса в целом я вижу только в том, что если захочется купить роскошную машину или квартиру - могут возникнуть сложности, поэтому если вы выходите на заработок 200000₽+, то не поленитесь и заведите ИП.
          p 
            | * 25$ на счёт при регистрации 
            a(href="https://www.payoneer.com/ru/raf/?rid=17ED3436-10A2-4DB7-A6DC-C94E6AFA14C3" target="_blank") по этой ссылке. 
      .question#conversion
        h2 Какая конверсия с твоих заявок?
        .answer
          p Сейчас конверсия около 50%, когда мой JSS был 80, конверсия была 30%. Сейчас для меня это имеет меньшее значение чем поначалу, так как новые проекты чаще всего я получаю через приглашения.
          p Если вам отвечают на 3 заявки из 10 это хорошая цифра, потенциальные 9 проектов в месяц, что более чем достаточно.
      .question#startrate
        h2 Какой рейт почасовой оплаты мне поставить как новичку?
        .answer
          p Нужно ставить рейт исходя из своих потребностей и трезвой оценки навыков. Не рекомендую ставить рейт ниже 10$/час, потому что ни один адекватный заказчик не будет воспринимать вас серьезно.
      .question#cl
        h2 Как написать хороший Cover Letter чтобы заказчик выбрал меня из 100 кандидатов?
        .answer
          p Мой подход состоит в том, чтобы понять темперамент заказчика по описанию проекта и написать заявку исходя из этого. По стилю письма, полноте изложения деталей, грамматике можно смимикрировать под заказчика, если он пишет "Need perfect developer urgent", то можно ответить "Hi there! I'm ready to work!", если ТЗ составленно наидетальейшим образом, то и ваш ответ должен быть максимально подробным - с перечислением опыта работы и решаемых ранее проблем.
          p Главное правило - не клянчите работу, никаких "Dear sir", "Please, give me that project", это выглядит жалко и если заказчик таки выберет вас исполнителем вы об этом только пожалеете, потому что показали ему, что работа с ним для вас имеет высокую значимость, чем он сможет манипулировать.
      .question#badge
        h2 Сильно ли влияют бейджики Rising Talent и Top Rated?
        .answer
          p Как по мне, бейджик RT может представить вас перед заказчиком как новичка, которым вы можете не являться, поэтому этот бейдж хорош только бустом 30 дополнительных коннектов на старте. Нужно грамотно их реализовать и поскорее получить следующий бейдж.
          p Бейдж Top Rated очень помогает в поиске заказов, вы чаще будете попадаться в рекомендации на приглашение, а следственно, вам будут приходить инвайты в проекты, и теперь не заказчик выбирает вас из стада, а вы его :)
          p Тем не менее, если по какой-то причине ваш JSS не дотягивает до Top Rated это не повод удалять аккаунт или переставать работать, работу можно найти при ЛЮБОМ JSS, и выправить его до требуемых 90+ процентов за несколько успешных проектов.
      .question#jss
        h2 Как поднять Job Success Score?
        .answer
          p Усердно работать, не вешать нос, стараться найти долгосрочные проекты, не работать с клиентами-мудаками.
          p В один момент, мой JSS равнялся 80 единицам, но я уже в то время имел 2 лонг-терм контракта, и не закрывая никаких других, JSS вырос за 3 месяца на 18%, только из-за этого показателя. 

      .breakline
        h4 Общие вопросы 
      .question#mudak
        h2 Как понять, является ли мой клиент мудаком?
        .answer
          p Если клиент много торгуется, слишком скурпулёзен, или просто вам не нравится общаться с ним - то лучше не начинать с ним работать. Чаще всего сотрудничество будет неприятным, и, наверняка, он оставит вам нехороший приватный отзыв, что негативно скажется на вашем JSS.
          p Не стоит работать с заказчиками из Индии, с низким количеством закрытых проектов и низким average rate на бирже.
      .question#path
        h2 Какое направление сейчас перспективное/выгодное?
        .answer
          p Я не рекомендую выбирать направление работы исходя из его перспективности или трендовости в данный момент. Найдите себе занятие по душе, станьте в нём настоящим специалистом и вы всегда будете при деньгах.
      .question#edu
        h2 Нужно ли высшее образование для работы фрилансером?
        .answer
          p Не обязательно. Университет в первую очередь вырабатывает умение искать информацию и усидчивость, для получения опыта в любой сфере, даже если вы хотите работать в офисе, нужно развиваться самостоятельно. 
      .question#english
        h2 Насколько хорошо нужно знать английский язык для работы на зарубежных биржах?
        .answer
          p Нужно иметь навыки разговорного общения, а также чтения технической документации. Главный навык программиста - уметь формировать корректные поисковые запросы и понимать, что написано в результатах поиска. Для работы с клиентами из-за рубежа - нужно понимать, что от тебя требуют, и недвусмысленно выражать свои мысли.
      .question#frontend
        h2 Как стать front end разработчиком?
        .answer
          p 
            | Получить навыки верстки на 
            a(href="https://htmlacademy.ru/" target="_blank") htmlacademy.ru
          p Сверстать 2-3 макета из PSD
          p 
            | Пройти Git, HTML/CSS, JS направления на 
            a(href="https://www.codeschool.com/" target="_blank") Codeschool
          p 
            | Закрепить полученные навыки на 
            a(href="https://www.freecodecamp.com/" target="_blank") FreeCodeCamp
            |  и 
            a(href="http://www.codewars.com/" target="_blank") Codewars.
          p Освоить препроцессоры и таск-раннеры(я использую и рекомендую jade, stylus, gulp).
          p Весь этот путь должен занять не более 2 месяцев при дисциплинированном обучении. 
          p Теперь вы можете наниматься на должность Junior Front End Developer или начинать выполнять небольшие заказы на фриланс-биржах.

      .breakline
        h4 Про меня:
      .question
        h2 Сколько ты зарабатываешь на Upwork?
        .answer
          p После того, как я наработал репутацию на бирже, я стал работать только в проектах с почасовой оплатой. Поэтому заработок зависит от количества наработанных часов. На данный момент моя ставка 25$/час. Занятость от 5 до 30 часов в неделю - по настроению и потребностям.
      .question
        h2 Сколько ты работаешь на фрилансе?
        .answer
          p Я начал работать фрилансером ещё в 2008 году, тогда я выбрал своим направлением веб-дизайн и рисование иконок, работал на небезысвестной украинской бирже.
          p В 2015 году я решил стать front end разработчиком, и начал работать с конца июня на бирже Upwork.
      .question
        h2 Почему ты решил переехать в Таиланд?
        .answer
          p После того как я закончил университет у меня было два пути - развиваться, работать и зарабатывать или идти отдавать долг родине. Для меня первый вариант оказался предпочтительным, поэтому я пошел в военкомат, написал заявление о снятии с учёта, и уехал в страну, где тепло, комфортно, много фруктов и улыбок на лицах людей.  
      .question
        h2 Надолго ли ты в в Тае?
        .answer
          p До сентября 2016. Мы с женой живем по студенческой визе, которую получили на год. Потом скорее всего перееду в Питер на время.
      .question
        h2 Сколько денег уходит на жизнь в Паттайе?
        .answer
          p Нам хватает 800$/месяц. В эту сумму входит оплата студии, коммунальных услуг, питание исключительно в кафе, небольшие покупки, массаж, фрукты, расходы на общественный транспорт. 
      .question
        h2 Я не нашел тут ответа на свой вопрос, как связаться с тобой?
        .answer
          p
            | Удобнее всего мне общаться через 
            a(href="https://vk.com/vicodin" target="_blank") vk
            | , если вы не зарегистрированы там, пишите 
            a(href="mailto:flppv8@gmail.com") на почту.
    .like
      #vk_like
      script(type="text/javascript").
        VK.Widgets.Like("vk_like", {type: "button", verb: 1, height: 24});

    script(src="//code.jquery.com/jquery-2.2.1.min.js")
    script(src="../script.js")