doctype html
html
  head
    title Anton Filippov - Frontend developer
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name='yandex-verification' content='5d9b6170ccdcada2')
    link(rel="stylesheet", href="normalize.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="main.min.css")
    script(src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript")
    script(type="text/javascript").
      try {
          var yaCounter37299120 = new Ya.Metrika({
              id:37299120,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      } catch(e) { }
    noscript
      div
        img(src="https://mc.yandex.ru/watch/37299120" style="position:absolute; left:-9999px;" alt="")
  body.front
    .stuff
      nav
        a(href="http://blog.flppv.me") Blog(RU)
        a(href="mailto:anton@flppv.me") Contact me
    .wrapper
      .labels
        h1 Anton Filippov
        p Frontend developer
        .details
          .info
            .item
              .count
                span ~
                span#code 0
                span k
              .label Lines of code (last 6 months)
            .item 
              .count
                span#pos 0
                span +
              .label Happy clients (2008-now)
            .item
              .count 
                span#gh 0
                span +
              .label GitHub contributions
        .links
          a(href="https://github.com/vicodinchik" target="_blank")
            img(src="gh.png")
          a(href="https://www.linkedin.com/in/antonfilippov" target="_blank")
            img(src="li.png")
          a(href="https://stackoverflow.com/users/4041992/vicodin" target="_blank")
            img(src="so.png")
    script(src="//code.jquery.com/jquery-2.2.1.min.js")
    script(src="//rawgit.com/VodkaBears/Vide/master/dist/jquery.vide.min.js")
    script(src="//rawgit.com/aishek/jquery-animateNumber/master/jquery.animateNumber.min.js")
    script(src="index.js")
