doctype html
html
  head
    title Filippov Anton
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet", href="main.min.css")
    link(rel="stylesheet", href="normalize.css")
  body.front
    .wrapper
      img(src="http://i.imgur.com/iEJUW63.png" alt="" style="position:absolute;")
      .labels
        h1 Filippov Anton
        p Front-end developer
        .links
          a(href="https://github.com/vicodinchik" target="_blank") GitHub
          a(href="https://www.linkedin.com/in/antonfilippov" target="_blank") LinkedIn
          a(href="https://www.upwork.com/freelancers/~01305970838c0a2a97" target="_blank") Upwork
        .links
          a(href="https://vk.com/vicodin" target="_blank") Vkontakte
          a(href="https://vk.com/upworkers" target="_blank") Upworkers
          a(href="https://vk.com/long_trip" target="_blank") Long_Trip
    script(src="script.js")