doctype html
html
  head
    title Filippov Anton
    link(rel="stylesheet", href="main.min.css")
    link(rel="stylesheet", href="normalize.css")
  body
    .wrapper
      .labels
        h1 Filippov Anton
        p Front-end developer